Question 1

In [8]:
"""For loop: A for loop is a control flow statement that executes code repeatedly for a particular number of iterations.
In this control flow statement, the keyword used is for. The for loop is used when the number of iterations is already 
known."""
n = [1, 2, 3]  # Initialization
for i in n:  # Condition and Updation
    print(i)

1
2
3

In [9]:
"""While loop: A loop that executes a single statement or a group of statements for the given true condition. The keyword
used to represent this loop is "while". A "while" loop is used when the number of iterations is unknown. The statement 
repeats itself till the boolean value becomes false. In a while loop, the condition is tested at the start."""
i = 1  # Initialization
while i < 6:  # Condition
    print(i)
    i += 1  # Updation

1
2
3
4
5

Question 2

In [40]:
s = range(1,11)
add1 = 0
for i in s:
    add1 = add1 + i
print(add1)

55

In [25]:
product1 = 1
for i in s:
    product1 = product1 * i
print(product1)

3628800

In [24]:
i=1
add2 = 0
while i <= 10:
    add2 = add2 + i
    i = i + 1
print(add2)

55

In [26]:
i=1
product2 = 1
while i <= 10:
    product2 = product2 * i
    i = i + 1
print(product2)

3628800

Question 3

In [14]:
unit = int(input("Units of electricity used"))
if unit <= 100:
    bill = unit * 4.5
elif unit <= 200:
    bill = 450 + (unit-100)*6
elif unit <= 300:    
    bill = 1050 + (unit-200)*10
elif unit > 300:
    bill = 450 + 600 + 1000 + (unit-300)*20
print(bill)

Units of electricity used 310

2250

Question 4

In [39]:
s1 = list(range(1,101))
l=[]
for i in s1:
    i = i**3
    if i%5 == 0 or i%4 == 0:
        l.append(i)
l

[8,
 64,
 125,
 216,
 512,
 1000,
 1728,
 2744,
 3375,
 4096,
 5832,
 8000,
 10648,
 13824,
 15625,
 17576,
 21952,
 27000,
 32768,
 39304,
 42875,
 46656,
 54872,
 64000,
 74088,
 85184,
 91125,
 97336,
 110592,
 125000,
 140608,
 157464,
 166375,
 175616,
 195112,
 216000,
 238328,
 262144,
 274625,
 287496,
 314432,
 343000,
 373248,
 405224,
 421875,
 438976,
 474552,
 512000,
 551368,
 592704,
 614125,
 636056,
 681472,
 729000,
 778688,
 830584,
 857375,
 884736,
 941192,
 1000000]

Question 5

In [38]:
string = "I want to become a data scientist."
l1=[]
for i in string:
    if i == "a" or i == "e" or i == "i" or i == "o" or i == "u" or i == "A" or i == "E" or i == "I" or i == "O" or i == "U":
        l1.append(i)
vowel_count = len(l1)
vowel_count

12